<input type="checkbox" name="Jongno-gu" id="Jongno-gu">
<label for="Jongno-gu">종로구</label>

<input type="checkbox" name="Jung-gu" id="Jung-gu">
<label for="Jung-gu">중구</label>


<input type="checkbox" name="Yongsan-gu" id="Yongsan-gu">
<label for="Yongsan-gu">용산구</label>

<input type="checkbox" name="Seongdong-gu" id="Seongdong-gu">
<label for="Seongdong-gu">성동구</label>

<!-- 
https://eatsimple.tistory.com/618

광진구
동대문구
중랑구
성북구
강북구
도봉구
노원구
은평규
서대문구
마포구
양천구
강서구
구로구
금천구
영등포구
동작구
관악구
서초구
강남구
송파구
강동구
 -->