<h2>최근 등록된 책들</h2>

<form action="/books" method="GET">
	<label for="book-search">검색어</label>
	<input type="text" name="name" id="book-search"  />
	<input type="submit" value="검색">
</form>





<% books.forEach(book => { %>

	<%- include("_book_info", {book:book.info}) %> 



<% }) %> 