
<h2>	등록할 책을 검색하세요
</h2>

<form action="./search" method="GET" id="form-search">
	<input type="search" name="title" id="form-search__input" value="<%= title %>" required="true"/>
	<input type="submit" value="검색">
</form>

<% if (locals.books != null ) { %>
<% books.forEach(book => { %> 
	<div>
		<%- include("_book_info", {book}) %> 

	
		<a href="./new/<%=book.isbn%>">등록하기</a>

	</div>
	
	
	<% })} %>
