
  <a class="social-login-container kakao-style" href="/auth/kakao">
    <span class="social-login__symbol">

      <i class="fas fa-comment"></i>
    </span>
    <span class="social-login__label">카카오 로그인</span>
  </a>
