<form action="/join" method="post">

  <div>
    <label for="local-email">Email</label>
    <input type="email" name="email" id="local-email">
  </div>
    
  <div>

    <label for="local-nickname">Nickname</label>
    <input type="text" name="nickname" id="local-nickname">
  </div>
    
  <div>

    <label for="local-password">Password</label>
    <input type="password" name="password" id="local-password">
  </div>

  <div>
    <label for="local-password2">Password-check</label>
    <input type="password" name="password2" id="local-password2">
  </div>

  <input type="submit" value="가입하기">
    
</form>