<h2 class="text-center">
  카카오와 네이버를 이용하여 로그인해주세요. </h2>
  <p class="text-center">
    당신과 함께하는 책공유는 불필요한 개인정보를 요구하지 않습니다
  </p>


<div class="login-container">

  <form class="login-form" action="/auth/local" method="post">
    <div class="login-column">
      <input type="email" name="email" id="local-email" placeholder="Email">
    
      <input type="password" name="password" placeholder="Password" id="local-password">
    </div>
      
    <button type="submit" class="login-column local-style">
      <div>
        Local
      </div>
      <div>
        로그인
      </div>
      
    </button>
  </form>



  <%- include("./partials/kakaoLogin", {label: "카카오 로그인"}) %>
  
  <%- include("./partials/naverLogin", {label: "네이버 아이디로 로그인"}) %>
</div>