@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800");

@import "./partials/header.css";
@import "./partials/socialLogin.css";

:root {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	--color-text-dark: #222f3e;
	--color-text-light: #576574;
}

body {
	padding: 20px 50px;
	max-width: 1200px;
	margin: 0 auto 3rem;
	/* min-height: 70vh; */
}

a {
	color: var(--color-text-dark);
	text-decoration: none;
	font-weight: 600;
	font-size: 1.2rem;
}
a:hover {
	color: var(--color-text-light);
}

@media (max-width: 450px) {
	body {
		padding: 20px 20px;
	}
}
