.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social-login-container {
	display: flex;
	align-items: center;
	padding: 10px;
	width: 300px;
	height: 60px;
	margin-bottom: 1rem;
	justify-content: flex-start;
	border-radius: 12px;
	font-size: 1.3rem;
	box-sizing: border-box;
}

.naver-style {
	background-color: #1ec800;
	color: #ffffff;
	font-family: "Nanum Gothic";
}

.naver-style:hover {
	color: #ffffff;
}

.naver-style-symbol {
	font-weight: 800;
	border-right: solid 1.5px white;
}

.kakao-style {
	background-color: #fee500;
	color: #000000;
}

.kakao-style:hover {
	color: #000000;
}

.social-login__symbol {
	width: 15%;
	text-align: center;
	font-size: 2rem;
}

.social-login__label {
	width: 85%;
	text-align: center;
}
